html, body {
	overflow-y: visible;
}

#header h1 {
	margin-left: 6px;
}

#header h1 a {
	background-image: url(/assets/logo_with_text_white_website.svg);
	background-size: 100%;
}

#spotlight {
	padding: 0.1em 0;
}

.tab-pane {
	display: none;
}

.tab-pane.active {
	display: block;
}

#game-grid {
	display: flex;
	flex-wrap: wrap;
}

#game-grid div {
	width: 160px;
	padding-right: 5px;
}

#game-grid div img {
	max-width: 160px;
	max-height: 120px;
}

@media all and (max-height: 460px) {
	#spotlight {
		display: none;
	}
}

@media all and (max-width: 544px) {
	#spotlight {
		display: none;
	}
}
