html, body {
	overflow-y: visible;
}

#header h1 {
	margin-left: 6px;
}

#header h1 a {
	background-image: url(/assets/logo_with_text_white_website.svg);
	background-size: 100%;
}

#spotlight {
	padding: 0.1em 0;
}

.tab-pane {
	display: none;
}

.tab-pane.active {
	display: block;
}
